/* Section Our Clients */

.section.clients {
  padding-top: 94px;
  padding-bottom: 94px;
}

.clients .section-title {
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.clients .list {
  /* display: flex; */
  justify-content: center;
  @extend %list;
}

.clients .item:not(:first-child) {
  margin-left: var(--gap-card-set);
}

.clients .link {
  display: flex;
  width: 170px;
  height: 92px;

  justify-content: center;
  align-items: center;
  border: 1px solid var(--pr-icon-fill);
  border-radius: 4px;

  cursor: pointer;

  transition: border 250ms var(--bezier-timing);
}

.clients .icon {
  fill: var(--pr-icon-fill);

  transition: fill 250ms var(--bezier-timing);
}

.clients .link:hover,
.clients .link:focus {
  border: 1px solid var(--accent-color);
}

.clients .link:hover .icon,
.clients .link:focus .icon {
  fill: var(--accent-color);
}
