/* Address */
.address {
  font-style: normal;
}

.address-link {
  display: block;
  margin-bottom: 9px;

  color: var(--inv-text-color);
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.address .item:not(:last-child) {
  margin-bottom: 9px;
}

.address .link {
  color: rgba(255, 255, 255, 0.6);
  line-height: 1.71;
  letter-spacing: 0.03em;

  transition: color 250ms var(--bezier-timing);
}

.address .link:hover,
.address .link:focus {
  color: var(--accent-color);
}
