/* Footer */
.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--sec-bg-color);
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer.link,
.address-link {
  text-decoration-line: none;
}

.logo.footer {
  margin-bottom: 20px;
  padding-top: 0;
  padding-bottom: 0;

  color: var(--inv-text-color);
}
