$colors: (
  /* Basic text style*/ "pr-color": #212121,
  /* Secondary text style */ "sec-color": #757575,
  /* Inverse text style*/ "inv-color": #ffffff,
  /* Accent color*/ "accent-color": #2196f3,
  /* Basic background color */ "pr-bg-color": #ffffff,
  /* Secondary background color */ "sec-bg-color": #2f303a,
  /* Basic button background color */ "btn-bg-color": #f5f4fa,
  /* Basic icon fill */ "pr-icon-fill": #afb1b8
);

//  /* Basic text style*/
//     --pr-text-color: #212121;
//     /* Secondary text style */
//     --sec-text-color: #757575;
//     /* Inverse text style*/
//     --inv-text-color: #ffffff;
//     /* Accent color*/
//     --accent-color: #2196F3;
//     /* Basic background color */
//     --pr-bg-color: #ffffff;
//     /* Secondary background color */
//     --sec-bg-color: #2F303A;
//     /* Basic button background color */
//     --btn-bg-color: #F5F4FA;
//     /* Basic icon fill */
//     --pr-icon-fill: #AFB1B8;

@function getColor($key) {
  @return map-get($colors, $key);
}

// Project Fonts
$pr-font: "Open Sans", sans-serif;
$sec-font: "Raleway", sans-serif;

$gap-card-set: 30px;

/* Timing function */
$bezier-timing: cubic-bezier(0.4, 0, 0.2, 1);

$cardSet-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12),
  0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
